@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", serif;
}

.container {
    margin: 0 auto;
    width: 80%;
}

.section {
    padding: 100px 0;
}

header, .present-section, .footer-section {
    background-color: #1F2937;
}

header {
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

header ul {
    display: flex;
    list-style: none;
    gap: 18px;
    
}

header a{
    text-decoration: none;
    color: black;
}

.present-section {
    padding: 200px 0;
}

.present-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.present-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    text-align: left;
}

.present-title{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

header a, .present-desc{
    font-size: 18px;
    color: #e5e7eb;
}

.present-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: auto;
}


.present-image {
    width: 100%;
    height: 100%;
}


.present-content, .present-img-container {
    flex: 1;
} 

.features-section {
    padding: 200px 0;
}


.features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.features-title {
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
}

.features-list {
    display: flex;
    gap: 70px;  
    flex-wrap: wrap; 
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    max-width: 200px;
    text-align: center;
    font-size: 18px;
    color:#1F2937;
    flex: 1;
}

.image-container {
    display: flex;
    width: 200px;
    height: 200px;
    border: 4px solid lightgrey;
    border-radius: 10px;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: 100%;
}

.quote-section {
  display: flex;
  justify-content: center;
  background-color: #e5e7eb;
  padding: 150px 0;
}

.quote-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quote-text {
    display: flex;
    flex-direction: column;
    flex: wrap;
    gap: 14px;
    align-items: center;
}

.quote {
    text-align: left;
    width: 60%;
    font-weight: 300;
    font-style: italic;
    font-size: 36px;
}

.quote-author {
    width: 60%;
    text-align: right;
    font-weight: 600;
    font-size: 28px;
}

.action-section{  
    display: flex;
    justify-content: center;
    padding: 150px 0;
}

.action-container {
    padding: 70px 70px;
    display: flex;
    gap: 150px;
    border-radius: 8px;
    align-items: center;
}

.action-content {
    flex: 1;
}

.action-title {
    font-size: 24px;
    font-weight: 700;
}

.action-description {
    font-size: 16px;
    font-weight: 300;
}


.action-container button, .present-button{
    padding: 5px 20px;
    width: 120px;
    height: 50px;
    font-weight: 900;
    border-radius: 6px;
    border: none;
    font-size: 20px;
}

.action-container button{
    border: 2px solid white;
    align-self: center;    
}

.action-container, .present-button, .action-container button{
    background-color: #3882f6;
    color: white;
} 

.footer-section {
    padding: 15px;
    display: flex;
    justify-content: center;
    color: #F9FAF8;
}